{% extends 'base.html' %}

{% block title %}Leftovers recipe{% endblock %}

{% block content %}
<body id="homepage-bg">
    <div  class="home-positioning">
        <h2>Some ingredients left in the fridge <br> and no idea what to cook with them?</h2>
        <div class="break"></div> 
        <h1>Welcome to leftover recipes</h1>
        <div class="break"></div> 
        <p class="text-center">Search here for recipes by ingredients</p>
        <div class="break"></div> 
           <div class="center"> <button class="btn btn-primary center"><a class="white" href="/search-recipe"> Let start</a></button> </div>
        <div class="break"></div> <br>
        <p class="text-center">Or sign in here you can additionally manage your own ingredient inventory and save your favorite recipes.</p>
        <div class="break"></div> 
        <div class="center"> <button class="btn btn-primary center"><a class="white" href="/signin"> Sign in</a></button> </div>
        <div class="break"></div> <br>
        <p class="text-center">Already signed in?.</p>
        <div class="break"></div> 
        <div class="center"> <button class="btn btn-primary center"><a class="white" href="/login"> Log in</a></button> </div>
        </div>
      </div>
      
</body>
{% endblock %}